#include<stdio.h>
struct student
{
    char name[100];
    int  user_id ;
    int age ;
};
struct students 
{
    struct student s[100];
    int n;
};
struct student input()
{
    struct student v;
    printf("enter student name : ");
    scanf ("%s", v.name);
    printf("enter userid : \n ");
    scanf ("%d", &v.user_id);
    printf("enter age : \n");
    scanf ("%d",&v.age);
    return v;
    
}

int main()
{
    struct student v;
    v=input();
}
